<!DOCTYPE html>
<html lang="en">
<style>
    body {
        background-color: lightblue;
    }
    .resize {
        max-width:10%;
        max-height: 10%;
    }
    .satu {
        text-align: center;
        color: black;
        font-family: Helvetica;
        font-size: larger;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
<div class="satu">
    <p class="satu">{{ name_1 }}</p>
    <p class="satu">{{ npm_1 }}</p>
    <p class="satu">{{ kuliah }}</p>
    <p class="satu">{{ lahir }}</p>
    <p class="satu">{{ age_1 }} tahun</p>
    <p class="satu">{{ hobi_1 }}</p>
    <img src="https://lh6.googleusercontent.com/jYg42YXOJQsMGQz7xx2Lg3xlClFA3nTuydEojd4j9PP85GVuwMXm1wWTciblhLamFNvLFWu-1rFfzg=w1920-h952" />
    <p class="satu">Saya lahir tanggal pada tahun 1999 di Jakarta. Sekarang saya kuliah di Universitas Indonesia di Fakultas Ilmu Komputer jurusan Ilmu Komputer </p>
    <!---
    <p class="satu">{{ name_2 }}</p>
    <p class="satu">{{ npm_2 }}</p>
    <p class="satu">{{ kuliah }}</p>
    <p class="satu">{{ tanggal_2 }}</p>
    <p class="satu">{{ age_2 }} tahun</p>
    <p class="satu">{{ hobi_2 }}</p>
    <img src="http://about.tarung2017.com/foto/119.jpg" />
    <p class="satu"> {{ desc_2 }}</p>

    <p class="satu">{{ name_3 }}</p>
    <p class="satu">{{ npm_3 }}</p>
    <p class="satu">{{ kuliah }}</p>
    <p class="satu">{{ tanggal_3 }}</p>
    <p class="satu">{{ age_3 }} tahun</p>
    <p class="satu">{{ hobi_3 }}</p>
    <img  src="http://about.tarung2017.com/foto/101.jpg"/>
    <p class="satu"> {{ desc_3 }}</p>
    -->
    </div>
</body>
</html>
